<div class="chat-container">
  <div class="chat-messages">
    <div class="grid gap-y-2">

      <!-- Chat Messages -->

      <app-chat-message
        text="Escribe el texto que quieres que revise. "
    />

      @for (message of mesasages() ; track $index) {
        @if ( message.isGpt ) {
          <app-chat-message
            [text]="message.text"
          />
        }@else {
          <app-my-message [text]="message.text" />
        }

      }

      @if (isLoading()) {
        <app-typing-loader/>
      }

    </div>

  </div>

      <!-- MessageBox -->
      <app-text-message-box
        placeholder="Escribe aqui lo que deseas"
        (onMessage)="hendleMessage($event)"
      />

      <!-- <app-text-message-box-file
        placeholder="Escribe aqui lo que deseas"
        (onMessage)="hendleMessageWithFile($event)"
      /> -->

      <!-- <app-text-message-box-select
        placeholder="Escribe aqui lo que deseas"
        [options]="[{id:'1', text:'Hola'}, {id:'2', text:'Adios'}]"
        (onMessage)="hendleMessageWithSelect($event)"
      /> -->


</div>
